server:
  port: 88

spring:
  application:
    name: market-gateway
  zipkin:
    base-url: http://127.0.0.1:9411
    sender:
      type: web
    discovery-client-enabled: false
  sleuth:
    sampler:
    probability: 1
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
    gateway:
      routes:
        - id: baidu_route
          uri: https://www.baidu.com
          predicates:
            - Query=url, baidu
        - id: qq_route
          uri: https://www.qq.com/
          predicates:
            - Query=url, qq

        #将路径为Path=/api/thirdparty/**转发至第三方服务模块
        - id: third_party_route
          uri: lb://market-third-party
          predicates:
            - Path=/api/thirdparty/**
          filters:
            - RewritePath=/api/thirdparty/(?<segment>/?.*),/$\{segment}

        #将路径为Path=/api/product转发market-product微服务
        - id: product_route
          uri: lb://market-product
          predicates:
            - Path=/api/product/**
          filters:
            - RewritePath=/api/(?<segment>/?.*),/$\{segment}

        #将路径为Path=/api/member/**转发至会员服务
        - id: market-member
          uri: lb://market-member
          predicates:
            - Path=/api/member/**
          filters:
            - RewritePath=/api/(?<segment>/?.*),/$\{segment}

        #将路径为Path=/api/ware/**转发至仓库服务
        - id: market-ware
          uri: lb://market-ware
          predicates:
            - Path=/api/ware/**
          filters:
            - RewritePath=/api/(?<segment>/?.*),/$\{segment}

        #将路径为Path=/api/coupon/**转发至优惠服务
        - id: market-coupon
          uri: lb://market-coupon
          predicates:
            - Path=/api/coupon/**
          filters:
            - RewritePath=/api/(?<segment>/?.*),/$\{segment}

        #将路径为Path=/api/**转发至后台管理
        #        - id: admin_route
        #          uri: lb://renren-fast
        #          predicates:
        #            - Path=/api/**
        #          filters:
        #            - RewritePath=/api/(?<segment>/?.*), /renren-fast/$\{segment}

        #将主机地址为search.market.com转发至market-search
        - id: market_serach_host
          uri: lb://market-search
          predicates:
            - Host=search.market.com

        #将主机地址为auth.market.com转发至market-auth
        - id: market_auth_host
          uri: lb://market-auth-server
          predicates:
            - Host=auth.market.com


        #将主机地址为search.market.com转发至market-search
        - id: market_cart_host
          uri: lb://market-cart
          predicates:
            - Host=cart.market.com

        #将主机地址为order.market.com转发至market-order
        - id: market_order_host
          uri: lb://market-order
          predicates:
            - Host=order.market.com

        #将主机地址为seckill.market.com转发至market-seckill
        - id: market_seckill_host
          uri: lb://market-seckill
          predicates:
            - Host=seckill.market.com

        #将主机地址为**.market.com转发至market-product
        - id: market_host
          uri: lb://market-product
          predicates:
            - Host=**.market.com
    sentinel:
      transport:
        dashboard: 127.0.0.1:8080

management:
  endpoints:
    web:
      exposure:
        include: '*'





