server:
  port: 10005

logging:
  level:
    com.xiaojie.coupon.dao: debug
management:
  endpoints:
    web:
      exposure:
        include: '*'
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
  mapper-locations: classpath:/mapper/**/*.xml
  global-config:
    db-config:
      id-type: auto


spring:
  datasource:
    username: root
    password: root
    url: jdbc:mysql://127.0.0.1:3306/gulimall_sms?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      max-lifetime: 500000
      maximum-pool-size: 20
  application:
    name: market-coupon
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
    sentinel:
      transport:
        dashboard: 127.0.0.1:8080
  zipkin:
    base-url: http://127.0.0.1:9411
    sender:
      type: web
    discovery-client-enabled: false
  #采样取值介于 0到1之间，1则表示全部收集
  sleuth:
    sampler:
      probability: 1

#  # jackson时间格式化
  jackson:
    time-zone: GMT+8
#    date-format: yyyy-MM-dd HH:mm:ss
#  mvc:
#    date-format: yyyy-MM-dd'T'HH:mm:ss.SSS Z


