server:
  port: 10001
  servlet:
    session:
      timeout: 30m
school-market:
  thread:
    corePoolSize: 10
    maxPoolSize: 20
    keepAliveTime: 300
#暴露所有监控端点
management:
  endpoints:
    web:
      exposure:
        include: '*'
mybatis-plus:
  mapper-locations: classpath:/mapper/**/*.xml
  global-config:
    db-config:
#      主键自增
      id-type: auto
      logic-delete-value: 1
      logic-not-delete-value: 0





spring:
  datasource:
    username: root
    password: root
    url: jdbc:mysql://127.0.0.1:3306/gulimall_pms?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      max-lifetime: 50000